<div class="icon-wrapper">
  <mat-icon [routerLink]="['pokedex']">west</mat-icon>
</div>

<div class="imprint-container">
  <h2>Impressum</h2>
    <div>Alexander Hähnlein</div>
    <div>Herzogsweg 16</div>
    <div>99894 Friedrichroda</div>
    <div>developer&#64;haehnlein-alexander.org</div>

  <p class="copyright-wrapper">
    <span>&#169; </span>
    2025 Alexander Haehnlein
  </p>
  <p>Besonderen Dank an die <a href="https://pokeapi.co/" target="_blank">PokeAPI</a> für die Bereitstellung der Daten.</p>
</div>

