  <div
    class="clickable-background"
    (click)="startScrolling($event)"
    [routerLink]="['/pokedex']">
    <mat-icon>close</mat-icon>
  </div>

  <mat-icon class="arrow-left">chevron_left</mat-icon>
  <mat-icon class="arrow-right">chevron_right</mat-icon>



  @if (pokemon && pokemon.img_url) {
    <div class="detail-view-container {{pokemon.types_en[0]}}">

    </div>

  } @else {
    <div class="loading-card-container">
      <app-custom-loading-spinner></app-custom-loading-spinner>
    </div>

  }




