<div class="filter-container" [formGroup]="filterSelections">

  <h3>Gewicht:
    <b>
    {{ filterSelections.get('weightRange.startValue')?.value | pokeWeight }}
    -
    {{ filterSelections.get('weightRange.endValue')?.value | pokeWeight }}
    </b>
  </h3>

  <mat-slider min="0" max="500" formGroupName="weightRange">
    <input value="0" matSliderStartThumb>
    <input value="400" matSliderEndThumb>
  </mat-slider>

  <h3>Größe:
    <b>
    {{ filterSelections.get('heightRange.startValue')?.value | pokeHeight }}
    -
    {{ filterSelections.get('heightRange.endValue')?.value | pokeHeight }}
    </b>
  </h3>

  <mat-slider min="{{ this.minHeight }}" max="{{ this.maxHeight }}" formGroupName="heightRange">
    <input value="{{ this.minHeight }}" matSliderStartThumb>
    <input value="{{ this.maxHeight }}" matSliderEndThumb>
  </mat-slider>

  <h3>Typen</h3>
    <div class="type-list" formGroupName="types">
        @for (type of typeList; track type) {
          <mat-checkbox
            class="{{type}}-chip"
            formControlName="{{ type }}">
            {{ type }}
          </mat-checkbox>
        }
    </div>

  <div class="button-wrapper">
    <button class="btn-clear">Zurücksetzen</button>
    <button class="btn-succes" (click)="getFilterSelection()">Anwenden</button>
  </div>

</div>
