@if (!isLoading) {
  <div class="filter-container" [formGroup]="filterSelections">

    <!-- ############# -->
    <!-- GEN SELECTION -->
    <!-- ############# -->

    <h3> Generation </h3>
      <div class="gen-selection" formGroupName="generation">
        <mat-checkbox formControlName="gen_1">
          Gen 1
        </mat-checkbox>

        <mat-checkbox formControlName="gen_2">
          Gen 2
        </mat-checkbox>
      </div>

    <!-- ############# -->
    <!-- WEIGHT SLIDER -->
    <!-- ############# -->

    <h3> Gewicht
      <br>
      <b> {{ weightStart.value + ' kg'}} - {{ weightEnd.value + ' kg'}} </b>
    </h3>

      <mat-slider formGroupName="weightRange"
                  min="{{ minWeight }}"
                  max="{{ maxWeight }}"
                  step="0.1">

        <input formControlName="startValue"
               #weightStart
               matSliderStartThumb>

        <input formControlName="endValue"
               #weightEnd
               matSliderEndThumb>

      </mat-slider>

    <!-- ############# -->
    <!-- HEIGHT SLIDER -->
    <!-- ############# -->

    <h3> Größe
      <br>
      <b> {{ heightStart.value + ' m' }} - {{ heightEnd.value + ' m' }} </b>
    </h3>

      <mat-slider formGroupName="heightRange"
                  min="{{ minHeight }}"
                  max="{{ maxHeight }}"
                  step="0.1">

        <input formControlName="startValue"
               #heightStart
               matSliderStartThumb>

        <input formControlName="endValue"
               #heightEnd
               matSliderEndThumb>

      </mat-slider>

    <!-- ############# -->
    <!--     TYPES     -->
    <!-- ############# -->

    <h3>Typen</h3>
      <div class="type-list" formGroupName="types">
        @for (type of typeList; track type) {
          <mat-checkbox
            class="{{type}}-chip"
            [ngClass]="{ 'unchecked': !filterSelections.get(['types', type])?.value }"
            formControlName="{{ type }}">
              {{ type }}
          </mat-checkbox>
        }
      </div>

    <!-- ############# -->
    <!--    BUTTONS    -->
    <!-- ############# -->

    <div class="button-wrapper">
      <button class="btn-clear"
              (click)="openResetDialog()"
              [disabled]="!isInitialFormChanged"
              [class.btn-disabled]="!isInitialFormChanged">
        Zurücksetzen
      </button>

      <button class="btn-succes"
              (click)="useFilterSelection()"
              [disabled]="!isFormChanged"
              [class.btn-disabled]="!isFormChanged">
        Anwenden
      </button>
    </div>

    @if (resetDialogOpen) {
      <div class="reset-dialog-wrapper" (click)="resetDialogOpen = false">
        <div class="reset-dialog">
          <h3>Filter wirklich zurücksetzen?</h3>
          <div class="button-wrapper">
            <button class="btn-clear" (click)="resetDialogOpen = false" >Abbrechen</button>
            <button class="btn-succes" (click)="resetFilter()">Zurücksetzen</button>
          </div>
        </div>
      </div>
    }
  </div>
} @else {
  <app-custom-loading-spinner></app-custom-loading-spinner>
}

