:host {
  width: 70%;
}

.evolution-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex:1;
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 12px;
  padding: 24px;

  .evolution-stage-container {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 75ms ease-in-out;
    opacity: .8;

    &:hover {
      opacity: 1;

      img {
        scale: 1.02;
      }
    }

    img {
      transition: all 75ms ease-in-out;
      height: 10vh;
      cursor: pointer;
    }
  }
  h3 {
    margin:0;
  }
}

@media (max-width: 1124px) {
  .evolution-container {
    .evolution-stage-container {
      img {
        height: 15vh;
      }
    }
  }
}

@media (max-width: 920px) {
  :host {
    width: 80%;
  }

  .evolution-container {
    width: 100%;
    flex-direction: column;
    gap: 12px;
    .evolution-stage-container {
      img {
        height: 15vh;
      }
    }
  }

  mat-icon {
    transform: rotate(90deg);
  }
}

@media (max-width: 620px) {
  :host {
    width: 90%;
  }

  h2 {
    font-size: 18px;
  }

  .evolution-container {
    .evolution-stage-container {
      img {
        height: 20vh;
      }
    }
  }
}

