<h2>Entwicklung</h2>

<div class="evolution-container">

  @if (evolutions.length > 1) {
      @for (evolution of evolutions; track $index) {
          <div class="evolution-stage-container"
               (click)="triggerScrollToTop()"
               [routerLink]="['/pokedex/pokemon', evolution.game_index, evolution.name]">
                  <img [src]="evolution.img_url" alt="">
                  <h3> {{ evolution.name }}</h3>
          </div>
        @if ($index < evolutions.length - 1) {
          <mat-icon>arrow_right_alt</mat-icon>
        }
      }
  } @else {
      <p>Keine Entwicklung vorhanden</p>
  }

</div>


