:host {
  background-color: rgba(17, 17, 17, 0.95);
  color: whitesmoke;
  height: 10vh;
  width: 100%;
  position: sticky;
  z-index: 10;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-wrapper {
  width: 100%;
  min-width: 220px;
  max-width: 300px;
  color: whitesmoke;
  position: relative;
  border-bottom: 1px solid lightgray;
}

.placeholder-icon, .delete-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: lightgray;
}

input::placeholder {
  color: lightgray;
}

input {
  line-height: 24px;
  padding: 8px 4px;
  font-size: 14px;
  background-color: transparent;
  outline: none;
  color: whitesmoke;
  font-family: 'Press Start 2P', cursive;
  width: 100%;
  border: none;
  position: relative;
  z-index: 2;
}

input:focus::placeholder {
  opacity: 0;
}


.delete-icon {
  cursor: pointer;
  z-index: 3;
  color:whitesmoke;
}

.view-filter-container {
  display: flex;
  gap:6px;
}

.filter-wrapper {
  display: flex;
  align-items: center;
  gap:6px;
  color: lightgray;

  font-weight: 500;
  padding: 8px 12px;
  border-radius: 24px;
  cursor: pointer;
  transition: all 125ms ease-in-out;

  &:hover {
    background-color: rgba(32, 32, 32, 1);
    color: whitesmoke;
  }
}

.settings-container {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 400px;
  background-color: rgba(32, 32, 32, .9);
  z-index: 999;
  animation: slideIn 250ms forwards;

  mat-icon {
    padding:28px 28px 28px 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    right:0;
    font-size: 32px;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.slide-out {
  animation: slideOut 250ms forwards;
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
