<div class="search-filter-bar-top">
    <div class="input-wrapper">
      @if (searchInput.length > 0) {
        <mat-icon class="delete-icon" (click)="deleteSearchInput()">close</mat-icon>
      } @else {
        <mat-icon class="placeholder-icon">search</mat-icon>
      }

      <input type="text"
             placeholder="Pokemon suchen"
             (input)="onSearchInputChange()"
             [(ngModel)]="searchInput">
    </div>


    <div class="filter-container">
      <div class="filter-wrapper" (click)="toggleFilter(true)">
        <mat-icon>filter_list</mat-icon>
        <span>Filter</span>
      </div>
    </div>
</div>

<app-filter-display></app-filter-display>

@if (filterToggled) {
    <div class="settings-close-helper"
         (click)="toggleFilter(false)">
    </div>

    <div class="settings-container"
         [class.slide-out]="isClosing"
         (animationend)="handleAnimationEnd()">
      <mat-icon (click)="toggleFilter(false)">close</mat-icon>
      <app-filter-sidebar [(filterToggled)]="filterToggled"></app-filter-sidebar>
    </div>
}


