:host {
  width: 70%;
}

.chart-container {
  width: 100%;
  gap:5%;
  display: flex;
  align-items: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 12px;
  padding: 24px;
}

.stats-chart {
  width: 40%;
  min-width: 360px;
  aspect-ratio: 1 / 1;
  #radarChart {
    width: 100% !important;
  }
}

.stats-table-container {
  display: flex;
  width: 42.5%;
  height: 100%;
  .stats-table {
    flex:1;
    gap:4px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
  }

  h3 {
    margin: 0;
  }

  .stats-row {
    padding: 12px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    &:first-child {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }

    &:last-child {
      border-bottom: none;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
}

@media (max-width: 1170px) {
  .chart-container {
    flex-direction: column;
    align-items: center;
  }

  .stats-table-container {
    width: 90%;
  }
}

@media (max-width: 680px) {
  .chart-container {
    padding: 12px;
  }

  .stats-chart {
    width: 40%;
    max-width: 320px;
    min-width: 200px;
  }

  .stats-table-container {
    font-size:14px;
    width: 100%;
    h3 {
      font-size: 14px;
    }
  }
}


