:host {
  display: flex;
  justify-content: center;
}

.chart-container {
  position: relative;
  width: 100%; /* Passt sich an die verfügbare Breite an */
  max-width: 700px; /* Maximale Breite */
  aspect-ratio: 3; /* Breiter als hoch, typisch für Balkendiagramme */
  //background-color: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 1rem;

}

canvas {
  width: 100% !important;
  height: 100% !important;
}
