:host {
  position: fixed;
  left:0;
  z-index: 1000;
  top: 75vh;
  display: flex;
  flex-direction: column;
  transition: all 125ms ease-in-out;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;

  div {
    border-radius: 0;
    height: 40px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    transition: all 125ms ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
    }

    &:first-child {
      border-top-right-radius: 12px;
    }

    &:last-child {
      border-bottom-right-radius: 12px;
    }
  }
}

a {
  text-decoration: none;
}

img, mat-icon {
  cursor: pointer;
  transition: all 75ms ease;
  color: black;
  height: 32px;
  width: 32px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

}






