<div class="card-wrapper"
    (click)="sendDataToService()"
>
@if (pokemon && pokemon.img_url)
  {
  <mat-card class="example-card {{pokemon.types_en[0]}}">

    <mat-card-header>
      <div class="card-header-content">
        <mat-card-title> {{ pokemon.name }} </mat-card-title>
        <mat-card-subtitle>{{ pokemon.game_index | pokeNumberPipe }}</mat-card-subtitle>
      </div>
    </mat-card-header>

      <div class="poke-img-wrapper">
          <img
            mat-card-image
            ngSrc="{{ pokemon.img_url }}"
            placeholder="placeholder"
            fill
            alt="Photo of {{ pokemon.name }}">
      </div>

    <mat-card-content>
      <span class="poke-text">
        {{ pokemon.info_text }}
      </span>

        <div class="poke-type-wrapper">
              <span class="poke-type {{pokemon.types_en[0] + '-chip' }}">
                {{ pokemon.types_ger[0] }}
              </span>

          @if (pokemon.types_en[1]) {
              <span
                class="poke-type {{pokemon.types_en[1] + '-chip'}}">
                {{ pokemon.types_ger[1] }}
              </span>
          }

        </div>

    </mat-card-content>

  </mat-card>

} @else {
  <div class="loading-placeholder">
      <app-custom-loading-spinner></app-custom-loading-spinner>
  </div>
}
</div>
