:host {
  background-color: #111;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.list-container {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  width: 90%;
}

.spinner-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



