
@if (isLoaded) {
  <app-header (searchInputChange)="updateSearchInput($event)"></app-header>
  <app-footer></app-footer>
  <div class="list-container">
    @for (card of filteredPokeList; track card.id) {
      <app-poke-card
        [index]="card.id"
        [routerLink]="['pokemon/' +  card.id]"
        (click)="stopScrolling($event)"
      ></app-poke-card>
    }
  </div>
} @else {
  <div class="spinner-container">
    <app-custom-loading-spinner></app-custom-loading-spinner>
  </div>
}


<router-outlet></router-outlet>


