:host {
  background-color: #111;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}


.list-container {
  padding: 24px 0;
  width: 90%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 24px;
  overflow: auto;
  height: 75vh;

  p {
    color: whitesmoke;
    font-family: 'Press Start 2P', cursive;
  }
}

.scroll-viewport {
  height: 100%; /* Höhe des Viewports */
  width: 100%;   /* Volle Breite */
  overflow: auto;
}

.grid-container {

}


.spinner-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}




