<app-header></app-header>
<app-footer></app-footer>

@if (!isLoading) {
  <app-search-filter-bar></app-search-filter-bar>

  <div class="amount-wrapper">
    Pokemon: <span>{{ pokeList.length }}</span>
  </div>

  <app-filter-display></app-filter-display>

  @if (pokeList.length > 0) {
  <div class="grid-container">
          @for (card of pokeList; track card.game_index) {
            <app-poke-card
              [index]="card.game_index"
              [pokemon]="card"
              [routerLink]="['pokemon/' + card.game_index + '/' + card.name]">
            </app-poke-card>
          }
  </div>
  } @else {
    <p class="no-pokemon-found">Kein Pokemon gefunden ...</p>
  }


} @else {
  <div class="spinner-container">
    <app-custom-loading-spinner></app-custom-loading-spinner>
  </div>
}

<router-outlet></router-outlet>


